In [ ]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
browser = Browser('chrome')

In [ ]:
# Visit the website
# https://static.bc-edx.com/data/web/mars_facts/temperature.html
url = "https://static.bc-edx.com/data/web/mars_facts/temperature.html"
browser.visit(url)

In [ ]:
# Create a Beautiful Soup Object
html = browser.html
html_soup = soup(html, 'html.parser')

In [ ]:
# Extract all rows of data
rows = html_soup.find_all('tr', class_='data-row')
rows

In [ ]:
# Create a Pandas DataFrame by using the list of rows and a list of the column names
df = pd.DataFrame(mars_weather,columns=["id","terrestrial_date","sol","ls","month","min_temp","pressure"])

In [ ]:
# Confirm DataFrame was created successfully
df.head()

In [ ]:
# Examine data type of each column
df.info()

In [ ]:
# Examine data type of each column
df.dtypes

In [ ]:
# Change data types for data analysis
df['terrestrial_date'] = pd.to_datetime(df['terrestrial_date'])
df[['sol', 'ls', 'month']] = df[['sol','ls','month']].astype('int64')
df[['min_temp','pressure']] = df[['min_temp', 'pressure']].astype('float64')

In [ ]:
# Confirm type changes were successful by examining data types again
df.dtypes

In [ ]:
# 1. How many months are there on Mars?
months = df.groupby('month')['month'].count()
months

In [ ]:
# 2. How many Martian days' worth of data are there?
len(df)

In [ ]:
# 3. What is the average low temperature by month?
months_temp = df.groupby('month')['min_temp'].mean()
months_temp

In [ ]:
# Plot the average temperature by month
avg_temp = months_temp.plot(kind='bar')
avg_temp.set_xlabel("Month")
avg_temp.set_ylabel("Temperature in Celcius")

plt.show()
plt.tight_layout()

In [ ]:
# Identify the coldest and hottest months in Curiosity's location
order_months_temp = months_temp.sort_values(ascending=True)
order_avg_temp = order_months_temp.plot(kind='bar')
order_avg_temp.set_xlabel("Month")
order_avg_temp.set_ylabel("Temperature in Celcius")

plt.show()
plt.tight_layout()

In [ ]:
# 4. Average pressure by Martian month
month_pressure = df.groupby('month')['pressure'].mean()
month_pressure

In [ ]:
# Plot the average pressure by month
month_pressure_order = month_pressure.sort_values(ascending=True)
order_avg_pressure = month_pressure_order.plot(kind='bar')
order_avg_pressure.set_xlabel("Month")
order_avg_pressure.set_ylabel("Atmospheric Pressure")

plt.show()
plt.tight_layout()

In [ ]:
terrestrial_days = df.groupby('terrestrial_date')['min_temp'].mean()
terrestrial_days

In [ ]:
# 5. How many terrestrial (earth) days are there in a Martian year?
terrestrial_days.plot()
plt.xlabel('Number of terrestrial days')
plt.ylabel('Minimum temperature')
plt.show()

In [ ]:
#The third month has the coldest minimum temperature on Mars, and the eighth month is the warmest.
#Atmospheric pressure is lowest in the sixth month and highest in the ninth.

#The distance from peak to peak is roughly 1425-750, or 675 days. A year on Mars appears to be about 675 days from the plot. .

In [ ]:
# Write the data to a CSV
df.to_csv('mars_table.csv', index=False)

In [ ]:
browser.quit()